body{
    margin-top: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 1200px;
    background-color: #888888;
    height: 2000px;
    -ms-flex-item-align: center;
        align-self: center;
    margin: 0px auto;
    padding: 0 auto;
}

.section1-title{
    text-align: center;
    bottom: 0;
}
.section-title1{
    text-align: center;
    bottom: 0;
    color: #ffffff;
}

.button{
    height: 30px;
    width: 200px;
}
.section-1{
    height: 560px;
    background-color: rgb(41, 170, 226);

}
.col-3{
    width: 390px;
    height: 530px;
    background-color: rgb(255, 255, 255);
    display: inline-block;
    padding: -15px;
    margin-top: 5px;
    margin-left: 5px;
    margin-top: 5px;
    margin-left:  5px;
    text-align: center;
}


.section1-text{
    margin: 0;
    color: #3e3e3e;
    background: white;
    font-weight: bold;
    text-align: center;
}

.service-text{
    padding: 10px;
    text-align: center;
    bottom: 0;
}