
footer{
    background-image: url("images/fondo_footer.jpg");
    background-repeat: no-repeat;
    background-size: 1200px;
    background-position: center;
    height: 393px;
    image-orientation: center;
}

#text1{
    text-align: left;
    font-size: 20px;
}

#text2{
    text-align: right;
    font-size: 20px;
}